* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family: 'Playfair Display';
    src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Lora';
    src: url(../fonts/Lora-VariableFont_wght.ttf);
}

.wrapper {
    background-image: url(../images/background-sistema-cardapio.jpg);
    background: center cover;
    min-height: 100vh;
    background-repeat: repeat;
}

header {
    background-color: #000000bb;
    padding: 30px 70px;
    text-align: center;
    font-family: 'Lora';
}

header nav a {
    margin-left: 35px;
    color: #fff;
    text-transform: uppercase;
    transition: .5s;
}

header nav a:hover {
    color: #ccc;
}

h2 {
    font-size: 40px;
    text-align: center;
    margin: 50px 0;
    font-family: 'Playfair Display';
    color: #fff;
}

.cardapio {

    padding: 20px 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.prato {
    min-width: 30%;
    background: #201510;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: #000000bb 3px 3px 3px;
    color: #fff;
}

h4 {
    font-size: 35px;
    margin-bottom: 15px;
}

form {
    background-color: #000000bb;
    display: flex;
    padding: 20px 40px;
    width: fit-content;
    margin: 70px auto;
    border-radius: 20px;
    color: #fff;
}

.campo {
    margin-right: 30px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    font-weight: bold;
}

input {
    padding: 8px;
    border: none;
    border-radius: 15px;
}

.prato p {
    text-decoration: underline;
    margin-bottom: 10px;
    font-style: italic;
    font-size: 20px;
}

.prato a {
    text-decoration: none;
}

#cadastrar-btn {
    background-color: rgb(12, 95, 9);
    padding: 8px 8px;
    color: #fff;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}

#editar-btn {
    background-color: rgb(12, 95, 9);
    padding: 5px 8px;
    color: #fff;
    font-weight: bold;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#deletar-btn {
    background-color: rgb(133, 16, 16);
    padding: 5px 8px;
    color: #fff;
    font-weight: bold;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
}