* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lora';
}

@font-face {
    font-family: 'Playfair Display';
    src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Lora';
    src: url(../fonts/Lora-VariableFont_wght.ttf);
}

.wrapper {
    background-image: url(../images/background-sistema-cardapio.jpg);
    background: center cover;
    height: 100vh;
}

header {
    background-color: #000000bb;
    padding: 30px 70px;
    text-align: center;
    font-family: 'Lora';
}

header nav a {
    margin-left: 35px;
    color: #fff;
    text-transform: uppercase;
    transition: .5s;
}

header nav a:hover {
    color: #ccc;
}

h2 {
    font-size: 40px;
    text-align: center;
    margin: 50px 0;
    font-family: 'Playfair Display';
    color: #fff;
}

.cardapio {
    padding: 20px 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.prato {
    min-width: 30%;
    background: #201510;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: #000000bb 3px 3px 3px;
    color: #fff;
}

h4 {
    font-size: 35px;
    margin-bottom: 15px;
}

.prato p {
    text-decoration: underline;
    margin-bottom: 10px;
    font-style: italic;
    font-size: 20px;
}