* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lora';
}

/* modificado*/
@font-face {
    font-family: 'Playfair Display';
    src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Lora';
    src: url(../fonts/Lora-VariableFont_wght.ttf);
}
/* modificado*/

.wrapper {
    background-image: url(../images/background-sistema-cardapio.jpg);
    background: center cover;
    height: 100vh;
}

/* modificado*/
header {
    background-color: #000000bb;
    padding: 30px 70px;
    text-align: center;
}

header nav a {
    margin-left: 35px;
    color: #fff;
    text-transform: uppercase;
    transition: .5s;
}
/* modificado*/

header nav a:hover {
    color: #ccc;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75%;
}

h1 {
    font-size: 80px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Playfair Display';
}

main p {
    font-family: '';
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
    color: #fff;
}

main a {
    background: #2E1E17;
    color: #fff;
    padding: 10px 20px;
    border-radius: 15px;
    transition: .5s;
}

main a:hover {
    background-color: #201510;
}